<table class="table table-hover datatables-no-export">
    <thead>
    <tr>
        <th class="min-width">ID</th>
        <th>Nombre</th>
        <th>Dirección IP / Host</th>
        <th>Puerto</th>
        <th>Usuario</th>
        <th>Clave</th>
        <th>Llave SSH</th>
        <th>Tipo de Equipo</th>
        <th>Perfil Respaldo</th>
        <th>Nodo</th>
        <th>Monitoreo</th>
    </tr>
    </thead>
    <tbody>
    {% for import_task in csv_data.import_data %}
    <tr>
        <td>{{ import_task.import_id }}</td>
        <td>{{ import_task.name }}</td>
        <td>{{ import_task.address }}</td>
        <td>{{ import_task.port }}</td>
        <td>{{ import_task.username }}</td>
        <td>{{ import_task.password }}</td>
        <td>{{ import_task.ssh_key }}</td>
        <td>{{ import_task.router_type }}</td>
        <td>{{ import_task.backup_profile }}</td>
        <td>{{ import_task.router_group }}</td>
        <td>{{ import_task.monitoring }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>