{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">{{ form.instance.pk|yesno:"Editar Usuario,Crear Nuevo Usuario" }}</h3>
        </div>
        <div class="card-body">
<div class="row">
    <div class="col-md-4">
        <form method="post">
        {% csrf_token %}

            <!-- Username -->
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Nombre de usuario</label>
                <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" placeholder="Ingresa el nombre de usuario" value="{{ form.username.value|default_if_none:'' }}" {% if form.instance.pk %}readonly{% endif %}>
            </div>
            <!-- Password -->
            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Contraseña</label>
                <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}" placeholder="Contraseña">
            </div>
            
            <!-- Retype Password -->
            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Repetir contraseña</label>
                <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}" placeholder="Repetir contraseña">
            </div>           
            <!-- User Level -->
            <div class="form-group">
                <label for="{{ form.user_level.id_for_label }}">Nivel de Usuario</label>
                <select class="form-control" id="{{ form.user_level.id_for_label }}" name="{{ form.user_level.html_name }}">
                    {% for value, display in form.user_level.field.choices %}
                        <option value="{{ value }}" {% if form.user_level.value|stringformat:"s" == value|stringformat:"s" %}selected{% endif %}>{{ display }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="/user/list/" class="btn btn-outline-secondary">Volver</a>
                {% if user_acl %}<a href='javascript:void(0)' class='btn btn-outline-danger' data-command='delete' onclick='openCommandDialog(this)'>Eliminar Usuario</a>{% endif %}
    
            </div>
        </form>
    </div>
        
    
    <div class="col-md-8">
        <h5>Viewer (Visor)</h5>
        <p>Este nivel tiene acceso de solo lectura. Los usuarios pueden ver información de colas y la lista de respaldos, pero no pueden acceder a los datos de respaldo ni a información sensible.</p>
        <h5>Backup Operator (Operador de Respaldos)</h5>
        <p>Además de los permisos de nivel Visor, los usuarios en este nivel pueden ver los respaldos de los equipos e iniciar respaldos instantáneos.</p>
        <h5>Host Manager (Gestor de Equipos)</h5>
        <p>Los usuarios de este nivel pueden configurar, añadir y eliminar equipos, y borrar respaldos. También cuentan con todos los permisos del nivel Operador de Respaldos.</p>
        <h5>Configuration Manager (Gestor de Configuración)</h5>
        <p>Además de los permisos de nivel Host Manager, los usuarios de este nivel pueden configurar perfiles de respaldo, llaves SSH y grupos de equipos.</p>
        <h5>Administrator (Administrador)</h5>
        <p>Los usuarios de este nivel tienen derechos administrativos totales, incluyendo todos los permisos de los niveles anteriores.</p>
    </div>
</div>
        
    </div>
    </div>
</div>
{% endblock %}


{% block custom_page_scripts %}

<script>
    function openCommandDialog(element) {
        var command = element.getAttribute('data-command');
        var confirmation = prompt("Por favor, escribe '{{ user_acl.user.username }}' para eliminar este usuario.");
        if (confirmation) {
            var url = "?uuid={{ user_acl.uuid }}&action=delete&confirmation=" + encodeURIComponent(confirmation);
            window.location.href = url;
        }
    }
</script>

{% endblock %}