<ul class="nav nav-tabs d-flex" role="tablist">
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/router/list/' %}active{% endif %}" href="/router/list/" role="tab">
            Equipos
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/router/group_list/' %}active{% endif %}" href="/router/group_list/" role="tab">
            Nodos
        </a>
    </li>
    {% if request.path == '/router/list/' %}
    {% endif %}

</ul>
