{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-primary card-outline card-tabs">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" id="router-details-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="general-tab" data-toggle="pill" href="#general-content" role="tab" aria-controls="general-content" aria-selected="true">Información General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="history-tab" data-toggle="pill" href="#history-content" role="tab" aria-controls="history-content" aria-selected="false">Historial de Respaldos</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="router-details-tabs-content">
                    <div class="tab-pane fade show active" id="general-content" role="tabpanel" aria-labelledby="general-tab">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card card-primary card-outline">
                                    <div class="card-header">
                                        <h3 class="card-title">{{ router.name }}</h3>
                                        <span class="float-right">
                                            <a href="/router/manage/?uuid={{ router.uuid }}" >
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="card-body row">
                                        <div class="col-lg-12">
                                            <ul class="list-group list-group-unbordered mb-3">
                                                <li class="list-group-item">
                                                    <b>Habilitado</b>
                                                    <span class="float-right">
                                                        {% if router.enabled %}
                                                            <i class="far fa-check-circle text-success" ></i>
                                                        {% else %}
                                                            <i class="far fa-times-circle text-danger" ></i>
                                                        {% endif %}
                                                    </span>
                                                </li>
                                                <li class="list-group-item">
                                                    <b>Dirección IP</b>
                                                    <span class="float-right">{{ router.address }}</span>
                                                </li>
                                                {% if router.router_type != 'monitoring' %}
                                                    <li class="list-group-item">
                                                        <b>Usuario</b>
                                                        <span class="float-right">{{ router.username }}</span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Autenticación</b>
                                                        <span class="float-right">
                                                            {% if router.ssh_key %}
                                                                <i class="fas fa-key"></i> SSH Key: {{ router.ssh_key }}
                                                            {% elif router.password %}
                                                                <span class="password-text" style="display:none">{{ router.password }}</span>
                                                                <span class="password-masked">********</span>
                                                                <button class="btn btn-xs btn-link p-0 ml-1 toggle-detail-password" type="button">
                                                                    <i class="fas fa-eye"></i>
                                                                </button>
                                                            {% else %}
                                                                <i class="fas fa-exclamation-triangle text-warning"></i> Falta autenticación
                                                            {% endif %}
                                                        </span>
                                                    </li>
                                                {% endif %}
                                                <li class="list-group-item">
                                                    <b>Monitoreo</b>
                                                    <span class="float-right">
                                                        {% if router.monitoring %}
                                                            {% if router.routerstatus.status_online %}
                                                                <i class="far fa-check-circle text-success" title="Host está Online"></i>
                                                            {% else %}
                                                                <i class="far fa-times-circle text-danger" title="Host no disponible"></i>
                                                            {% endif %}
                                                        {% else %}
                                                            Deshabilitado
                                                        {% endif %}
                                                    </span>
                                                </li>
                                                {% if router.monitoring %}
                                                    <li class="list-group-item">
                                                        <b>Disponibilidad (últimos 7 días)</b>
                                                        <span class="float-right">
                                                            <a href="/router/availability/?uuid={{ router.uuid }}">
                                                                {{ last_week_availability }}%
                                                            </a>
                                                        </span>
                                                    </li>
                                                {% endif %}
                                                <li class="list-group-item">
                                                    <b>Tipo de Equipo</b>
                                                    <span class="float-right">{{ router.get_router_type_display }}</span>
                                                </li>
                                                <li class="list-group-item">
                                                    <b>Nodo</b>
                                                    <span class="float-right">
                                                        {% for router_group in router.routergroup_set.all %}
                                                            <span class="badge badge-primary">{{ router_group.name }}</span>
                                                        {% endfor %}
                                                    </span>
                                                </li>
                                                {% if router.router_type != 'monitoring' %}
                                                    <li class="list-group-item">
                                                        <b>Respaldo Instantáneo</b>
                                                        <span class="float-right">
                                                            <a href="/router/create_instant_backup/?uuid={{ router.uuid }}">
                                                                Respaldar ahora
                                                            </a>
                                                        </span>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                {% if router_information %}
                                    <div class="card card-primary card-outline">
                                        <div class="card-header">
                                            <h3 class="card-title">Información del Equipo</h3>
                                            <span class="float-right">
                                                <a href="/router/manage/?uuid={{ router.uuid }}&action=refresh_information" class="btn btn-sm btn-outline-primary" title="Sincronizar información del Router">
                                                    <i class="fas fa-sync"></i> Actualizar Info
                                                </a>
                                            </span>
                                        </div>
                                        <div class="card-body row">
                                            <div class="col-lg-12">
                                                <ul class="list-group list-group-unbordered mb-3">
                                                    <li class="list-group-item">
                                                        <b>Modelo</b>
                                                        <span class="float-right">{{ router_information.model_name|default_if_none:"" }}</span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Serie</b>
                                                        <span class="float-right">{{ router_information.serial_number|default_if_none:"" }}</span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Versión de OS</b>
                                                        <span class="float-right">{{ router_information.os_version|default_if_none:"" }}</span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Arquitectura</b>
                                                        <span class="float-right">{{ router_information.architecture|default_if_none:"" }}</span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Última Actualización</b>
                                                        <span class="float-right">
                                                            {% if router_information.success %}
                                                                {{ router_information.last_retrieval }}
                                                            {% elif router_information.error %}
                                                                <i class="far fa-times-circle text-danger" title="Fallo en última actualización: {{ router_information.error_message }}"></i>
                                                            {% else %}
                                                                <i class="far fa-clock" title="Obteniendo información en el próximo cron"></i>
                                                            {% endif %}
                                                        </span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div>
                                                            <b>Datos de Origen</b>
                                                            <span class="float-right">
                                                                <a href="#" onclick="$('#router_information_json').slideToggle()">
                                                                    <i class="far fa-eye"></i>
                                                                </a>
                                                            </span>
                                                        </div>
                                                        <span id="router_information_json" style="display: none;">
                                                            {{ router_information.json_data|default_if_none:"" }}
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                
                    <div class="tab-pane fade" id="history-content" role="tabpanel" aria-labelledby="history-tab">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Historial de Respaldos</h3>
                                <div class="card-tools">
                                    <button class="btn btn-sm btn-outline-info" onclick="compareSelectedBackups()">
                                        <i class="fas fa-columns"></i> Comparar Seleccionados
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-sm datatables-no-export">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>ID</th>
                                                <th>Tipo</th>
                                                <th>Fecha</th>
                                                <th>Estado</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for backup in router_backup_list %}
                                                <tr>
                                                    <td class="min-width text-center">
                                                        <input type="checkbox" class="backup-compare-checkbox" 
                                                               data-uuid="{{ backup.uuid }}" 
                                                               data-success="{{ backup.success|yesno:"true,false" }}">
                                                    </td>
                                                    <td class="min-width">
                                                        <a href="/backup/backup_details/?uuid={{ backup.uuid }}">
                                                            {{ backup.id }}
                                                        </a>
                                                    </td>
                                                    <td>{{ backup.get_schedule_type_display }}</td>
                                                    <td>
                                                        {% if backup.finish_time %}
                                                            {{ backup.finish_time }}
                                                        {% else %}
                                                            {% if not backup.error %}
                                                                <i class="far fa-clock text-warning" title="Falta fecha de finalización"></i>
                                                            {% endif %}
                                                            {{ backup.created }}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if backup.success %}
                                                            <i class="far fa-check-circle text-success"></i>
                                                        {% elif backup.error %}
                                                            <i class="far fa-times-circle text-danger" title="{{ backup.error_message }}"></i>
                                                        {% elif backup.backup_pending_retrieval %}
                                                            <i class="fas fa-cloud-download-alt text-info" title="Respaldo pendiente de recuperación"></i>
                                                        {% else %}
                                                            <i class="far fa-clock text-warning"></i>
                                                        {% endif %}
                                                    </td>
                                                    <td class="min-width text-nowrap">
                                                        {% if backup.success %}
                                                            <a href="/backup/download/?uuid={{ backup.uuid }}&type=text" class="btn btn-xs btn-outline-primary" title="Descargar Configuración (Texto)"><i class="fas fa-file-alt"></i> RSC</a>
                                                            <a href="/backup/download/?uuid={{ backup.uuid }}&type=binary" class="btn btn-xs btn-outline-info" title="Descargar Respaldo (Binario)"><i class="fas fa-file-archive"></i> Backup</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_modals %}
{% endblock %}

{% block custom_page_scripts %}
<script>
    $(document).ready(function() {
        var refreshInterval;

        // Fix DataTables responsiveness
        var $table = $('.datatables-no-export');
        $table.show(); // Ensure table is visible
        if ($.fn.DataTable.isDataTable($table)) {
            var table = $table.DataTable();
            table.columns.adjust().responsive.recalc();
        }

        // Start auto-refresh if there are pending tasks
        if ($('.fa-clock.text-warning, .fa-cloud-download-alt.text-info').length > 0) {
            refreshInterval = setInterval(function() {
                console.log('Refreshing backup status...');
                location.reload();
            }, 10000); // Every 10 seconds
        }

        // Handle backup comparison selection
        $('.backup-compare-checkbox').on('change', function() {
            var selected = $('.backup-compare-checkbox:checked').length;
            if (selected > 2) {
                $(this).prop('checked', false);
                alert('You can only select up to 2 backups for comparison.');
            }
        });

        window.compareSelectedBackups = function() {
            var selectedCheckboxes = $('.backup-compare-checkbox:checked');
            if (selectedCheckboxes.length !== 2) {
                alert('Please select exactly two backups to compare.');
                return;
            }

            var uuid1 = $(selectedCheckboxes[0]).data('uuid');
            var success1 = $(selectedCheckboxes[0]).data('success');
            var uuid2 = $(selectedCheckboxes[1]).data('uuid');
            var success2 = $(selectedCheckboxes[1]).data('success');

            if (!success1 || !success2) {
                alert('Both selected backups must be successful (Green Check) to be compared. Please wait for the backup to finish or select another one.');
                return;
            }

            window.location.href = '/backup/compare/?uuid=' + uuid1 + '&compare_uuid=' + uuid2;
        };

        // Persist active tab
        $('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });

        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            $('#router-details-tabs a[href="' + activeTab + '"]').tab('show');
        }

        // Password Visibility Toggle (Eye icon) - Detail View
        $('.toggle-detail-password').on('click', function() {
            const $btn = $(this);
            const $li = $btn.closest('li');
            const $text = $li.find('.password-text');
            const $masked = $li.find('.password-masked');
            const $icon = $btn.find('i');
            
            if ($text.is(':visible')) {
                $text.hide();
                $masked.show();
                $icon.removeClass('fa-eye-slash').addClass('fa-eye');
            } else {
                $text.show();
                $masked.hide();
                $icon.removeClass('fa-eye').addClass('fa-eye-slash');
            }
        });
    });
</script>
{% endblock %}
